.navigation{
	display: flex;
	flex-direction: column;
}

.heading{
	display: none;
}

.content{
	display: none;
}

ul{
	list-style: none;
}

.nav-box{
	text-align: center;
	margin: 2% 2%;
}

.heading-box{
    border: 1px solid black;
    padding: 5px;
}

.nav-box{
    border: 1px solid black;
    padding: 5px;
}

.side-box{
    border: 1px solid black;
    padding: 5px;
}

.main-box{
    border: 1px solid black;
    padding: 5px;
}

.main-box{
    border: 1px solid black;
    padding: 5px;
}

@media (min-width: 600px) and (max-width: 990px){
	.navigation{
		display: flex;
		flex-direction: row;
	}

	.nav-box{
		margin: 1% auto;
		padding: 2px 15px;
	}

	.heading{
		display: none;
	}

	.content{
		display: flex;
		flex-direction: row;
	}

	.side{
		width: 100%;
		border: 2px solid black;
	}

	.side-box{
		text-align: center;
	}

    .main{
        display: flex;
        flex-direction: column;
		border: 1px solid black;
    }
}

@media (min-width: 991px){
	.navigation{
		display: flex;
		flex-direction: row;
	}

	.nav-box{
		margin: auto;
		padding: 5px 5px;
		width: 17%;
		text-align: center;
	}

	.heading{
		display: flex;
		flex-direction: row;
	}

	.heading-box{
		margin: auto;
		padding: 5px 5px;
		width: 30%;
		text-align: center;
	}

	.content{
		display: flex;
		flex-direction: row;
	}

	.side{
		width: 100%;
		border: 2px solid black;
	}

	.side-box{
		text-align: center;
	}

	.main{
        display: flex;
        flex-direction: row;
		border: 1px solid black;
    }
}
